
.feedback{
    padding-top: 2vh;
    padding-bottom: 1vh;
    background-color: #3a3a3c;
    color: white;
}

.feedback button, .feedback button:hover, .feedback button:active, .feedback button:visited{
    border-radius: 0px !important;
    background-color: rgb(204,0,0);
    border: 1px solid rgb(204,0,0);
    color: white;
    font-size: 1em;
    padding: 6px;
    width: 50px;
    margin-left: 10px;
}



.footer{
    background-color: rgb(204,0,0) !important;
}

.footerContent{

    padding-top: 7vh;
    padding-bottom: 7vh;
    background-color: inherit;
    color: white;
    
	
}

.footerContent .address{
    font-size: 0.95em;
}

.footerContent .social1{
    font-size: 1.5em;
    float: right;
}

.footerContent .social1 i{
    padding-right: 10px;
}

.footerList{
    padding: 0;
    list-style-type: none;
    
}

.footerList li{
    display: inline;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px white solid;
    
}
