.navbar {
    border: 0;
}

.navbar-brand {
    height: inherit;
}

.navbrand {
    height: inherit;
    width: 7em;
    background-image: url("../images/brockLogo.png");
    background-size: cover;
}

.navbrand2 {
    height: inherit;
    margin-top: -10px !important;
    width: 7em;
    background-image: url("../images/brockLogo.png");
    background-size: cover;
}

.navbar-header {
    height: 5em !important;
}

.nav li a {}

.nav li a:hover {
    text-decoration: underline;
}

#myNavbar,
.navbar-toggle {
    padding-top: 0.7em;
}

.form-group input {
    border-radius: 0px;
}

.navbar-form button,
.navbar-form button:hover,
.navbar-form button:active,
.navbar-form button:visited {
    border-radius: 0px !important;
    background-color: rgb(204, 0, 0);
    border: 1px solid rgb(204, 0, 0);
}

.navbar-form button span {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.icon-bar {
    background-color: white !important;
}

.navbar {
    text-align: center;
    margin-bottom: 0;
    background-color: white;
}

.secondNav .navbar-brand {
    height: 0px;
}

.secondNav .navbar-header {
    height: 0px !important;
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .secondNav {
        position: fixed;
        width: 100%;
    }
    .tempNav {
        background-color: rgb(204, 0, 0);
    }
    .mainNav {
        display: none;
    }
    .secondNav .navbar-brand {
        height: 65px;
    }
    .secondNav .navbar-header {
        height: 65px !important;
    }
    .mainBody {
        margin-top: 0vh !important;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {}