.secondNav {
    text-align: left !important;
    z-index: 9999;
    border-radius: 0px;
    background-color: rgb(204, 0, 0);
    
}


.secondNav .navbar-container {
    text-align: left;

}

 .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
   
  }



.secondNav .navbar-nav>li>a{
    
    color: white;
    
}

.secondNav ul li a{
    color: white;
}

.apply p{
    
    margin-bottom: 20px;
    background-color: rgb(204,0,0);
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    
}

.nextsteps p{
    
    margin-bottom: 20px;
    background-color: #3a3a3c;
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
      cursor: pointer;
    border-radius: 0px;
    
    
}

.apply2 p{
    
    margin-bottom: 20px;
    background-color: rgb(204,0,0);
    color: white;
    padding-top: 4vh;
    padding-bottom: 4vh;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    
}

.nextsteps2 p{
    
    margin-bottom: 20px;
    background-color: #3a3a3c;
    color: white;
    padding-top: 4vh;
    padding-bottom: 4vh;
    text-align: center;
      cursor: pointer;
    border-radius: 0px;
    
    
}

.mainBody {
    margin-top: 5vh;
}

.eventBox h4 {
    padding-bottom: 15px;
    font-weight: bold;
    border-bottom: 2px solid lightgray;
}

.eventBox img{
    cursor: pointer;
}

.faculty {
    margin-bottom: 1vh;
    cursor: pointer;
    width: 100%;
    word-wrap: break-word;
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* css-3 */
    white-space: -webkit-pre-wrap;
    /* Newer versions of Chrome/Safari*/
    white-space: normal;
    color: white;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;

}

.health{
    
    color:rgb(0,125,195);
    border-bottom: 3px rgb(0,125,195) solid;
    background-color: white;
}

.education{
    
    
    border-bottom: 3px rgb(152,0,46) solid;
    background-color: white;
    color: rgb(152,0,46);
}

.business{
    color: rgb(176,110,14);
    border-bottom: 3px rgb(176,110,14) solid;
    background-color: white;
}

.humanities{
    color: rgb(86,0,78);
    border-bottom: 3px rgb(86,0,78) solid;
    background-color: white;
}

.math{
    color: rgb(157,51,147);
    border-bottom: 3px rgb(157,51,147) solid;
    background-color: white;
}

.social{
    color: rgb(52,123,91);
    border-bottom: 3px rgb(52,123,91) solid;
    background-color: white;
}

.content {

}


.healthInfo, .mathInfo, .humanitiesInfo, .socialInfo,.educationInfo,.businessInfo{
    display: none;
}

.content ul{
    list-style: square;
}

.content ul li a{
    color: rgb(204,0,0);
}

.bookTour{
    background-color: rgb(204,0,0);
    padding: 10px;
    color: white;
    margin-bottom: 5px;
    
    display: inline-block;
    
}

.tourMain{
    font-size: 1.1em;
}

.tourBody{
    font-size: 0.9em;
}

.note{
    font-size: 0.8em;
    font-weight: 600;
}


.directionButton{
    background-color: #3a3a3c;
    color:white;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.res{
    padding: 0;
    list-style: none !important;
}

.res ul{
    list-style: none;
}



.res ul li{
    padding-bottom: 10px;
    padding-top: 10px;
}

.res ul li i{
    color: rgb(204,0,0);
    padding-right: 10px;
}

.offCampus{
    background-color: #3a3a3c;
}

.resButton{
    background-color: rgb(204,0,0);
    padding: 10px;
    text-align: center;
    color: white;
    list-style: none;
    margin-right: 5px;
    height: 4em;
    vertical-align: middle;
    margin-bottom: 5px;

}

.offCampus{
    background-color: #3a3a3c;
}

.squareList{
    list-style-type: square;
}

.squareList li{
    padding-bottom: 10px;
    padding-top: 10px;
}

.startApp{
    width:100%;
    
    text-align: center;
    

    
    
}

.centre{
    margin: 0 auto;
    
}

.secondNav .active a{
    background-color: rgb(150,0,0) !important;
    color: white !important;
}

.living1{
    background-image: url(../images/decew.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 12vh;
}

.living2{
    background-image: url(../images/earp.jpg);
       background-size: cover;
    background-repeat: no-repeat;
    height: 12vh;
}


.living3{
    background-image: url(../images/village.jpg);
       background-size: cover;
    background-repeat: no-repeat;
    height: 12vh;
}

.living4{
    background-image: url(../images/quarry.jpg);
       background-size: cover;
    background-repeat: no-repeat;
    height: 12vh;
}

.living1a{
    background-image: url(../images/decew.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 height: 60vh;
}

.living2a{
    background-image: url(../images/earp.jpg);
       background-size: cover;
    background-repeat: no-repeat;
   height: 60vh;
}



.living3a{
    background-image: url(../images/village.jpg);
       background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

.living4a{
    background-image: url(../images/quarry.jpg);
       background-size: cover;
    background-repeat: no-repeat;
    
    height: 60vh;
}

.resTag{
    background-color: rgba(204,0,0,0.7);
    color: white;
    font-size: 1.2em;
    
    padding: 40px;
    margin-left: 10%;
    margin-bottom: 5%;
    
    bottom: 0px;
    position: absolute;
    display: inline-block;
}

.resTag span{
    font-size: 0.8em;
}



